<!doctype html>
<html lang="en">
  <head>
    <title>Lodestone Updates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="scripts/form.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <noscript>
        <div class="alert alert-danger mt-2" role="alert">
          You must enable JavaScript to choose your preferences!
        </div>
      </noscript>

      <% @flash&.each do |type, message| %>
        <div class="alert alert-<%= type %> mt-2" role="alert">
          <%= message %>
        </div>
      <% end %>

      <h2 class="text-center mt-2">Automatic Lodestone updates for your Discord server!</h2>

      <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
          <%= erb :form %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
          <%= erb :faq %>
        </div>
      </div>
    </div>

    <div class="footer text-center">
	    Lodestone-Bot by <a href="https://github.com/Shuro/lodestone">Shuro</a>, Original created by <a href="https://github.com/mattantonelli/lodestone">Raelys Skyborn of Behemoth</a>
    </div>
  </body>
</html>
